<div class="container h-[60vh]" x-data="{scroll: true}">
    <div class=" grid grid-cols-2  gap-44  mb-28" x-show="!scroll"
        @scroll.window="scroll = (window.pageYOffset > 201) ? false : true"
        x-transition:enter="transition ease-in-out duration-1000"
        x-transition:enter-start="opacity-0 transform translate-y-1/4"
        x-transition:enter-end="opacity-100 transform translate-y-0"
        x-transition:leave="transition ease-out duration-500"
        x-transition:leave-start="opacity-100 transform translate-y-0"
        x-transition:leave-end="opacity-0 transform -translate-y-1/4">
        <div class="mt-12 leading-7 tracking-wider font-light px-10">
            <h1 class="tracking-tight font-light text-3xl mr-[-5rem]">ABOUT</h1>
            <p class="mt-10 text-lg ">My name is Franciszek Otrębski. I work as a Python programmer based in Warsaw,
                Poland. <br>
                    But what I really love
                doing is writing and desigining aesthetically pleasing, minimalistic, modern websites from scratch. I
                don't
                use Wordpress, Wix or insert already made elements. I simply enjoy doing everything by myself.</p>
        </div>
        <div class="leading-7 tracking-wide text-lg px-10  font-light">
            <p class=""> If you need a webiste that reflects the image and
                style of your
                brand, customly desgined to suit all your
                needs and looks
                perfect on any device..
            </p>
            <p class="">You're in a right place</p>

            <div class="mt-28 border-2 border-gray-900 inline-block text-3xl px-4 py-1 hover:text-[#ece6e6] hover:bg-gray-900"> 
                <a href="/contact">HIRE ME</a>
            </div>

        </div>




    </div>
</div>
<!-- 
            <p>Web stack I work with:</p>
            <ul>
                <li>
                    <h1>11ty</h1>
                    <p>I write my projects using static site generator Eleventy. It provides fast static html website to
                        end-user. It allows you for very quick and easy modifications or for adding new content by using
                        templates or Markdown files.</p>
                </li>
                <li>
                    <h1>TailwindCSS</h1>
                    <p>When I've created the base skeleton of a webpage then I use Tailwind and plain CSS to add some
                        styling(fonts, colors, position of the elements etc.). </p>
                </li>
                <li>
                    <h1>Alpine.js</h1>
                    <p>I use Alpine to add any Javascript code. It's needed for any kind of interactivity. For
                        example for smooth popping mobile menu, animations on mouse scroll or adding products to cart. </p>
                </li>
                <li>
                    <h1>Netlify</h1>
                    <p>Lastly the website need to be deployied somewhere. You can pick domain of your own or we can we
                        deploy it on site like Netlify, evenetually add netlifyCMS for even more user-friendly expirience.
                    </p>
                </li>
    
            </ul> -->