<div class="container h-[60vh]" x-data="{scroll: true}">
    <div class=" grid md:grid-cols-3 lg:grid-cols-2 ml-5 md:gap-48 lg:gap-32 xl:-mt-24" x-show="!scroll"
        @scroll.window="scroll = (window.pageYOffset > 201) ? false : true"
        x-transition:enter="transition ease-in-out duration-1000"
        x-transition:enter-start="opacity-0 transform translate-y-1/4"
        x-transition:enter-end="opacity-100 transform translate-y-0"
        x-transition:leave="transition ease-out duration-500"
        x-transition:leave-start="opacity-100 transform translate-y-0"
        x-transition:leave-end="opacity-0 transform translate-y-1/4">
        <div class="mt-12 leading-7 tracking-wide font-light px-10 relative md:col-span-2 lg:col-span-1">
            <h1 class="tracking-widest font-light md:text-xl xl:text-3xl ">ABOUT</h1>
            <p class=" md:mt-6 lg:mt-10 tracking-wide  lg:text-lg md:mr-10 lg:mr-0">My name is Franciszek Otrębski. I work as a Python programmer based in Warsaw,
                Poland.
                But what I really love
                 is writing and desigining aesthetically pleasing, minimalistic, modern websites from scratch.  <br> I
                don't
                use Wordpress, Wix or insert already made elements. I simply enjoy doing everything by myself.
            </p>
            <!-- <div class="flex items-center absolute lg:-left-12 lg:top-[4.5rem] 2xl:-left-24 2xl:bottom-[29%]  bg-main ">
                <img src="/assets/img/me3.jpg" alt="" class="lg:h-20 2xl:h-28 rounded-tl-lg rounded-bl-lg" >
            </div> -->
        </div>


    </div>
</div>




<!-- 
            <p>S    tack I work with:</p>
            <ul>
                <li>
                    <h1>11ty</h1>
                    <p>I write my projects using static site generator Eleventy. It provides fast static html website to
                        end-user. It allows you for very quick and easy modifications or for adding new content by using
                        templates or Markdown files.</p>
                </li>
                <li>
                    <h1>TailwindCSS</h1>
                    <p>When I've created the base skeleton of a webpage then I use Tailwind and plain CSS to add some
                        styling(fonts, colors, position of the elements etc.). </p>
                </li>
                <li>
                    <h1>Alpine.js</h1>
                    <p>I use Alpine to add any Javascript code. It's needed for any kind of interactivity. For
                        example for smooth popping mobile menu, animations on mouse scroll or adding products to cart. </p>
                </li>
                <li>
                    <h1>Netlify</h1>
                    <p>Lastly the website need to be deployied somewhere. You can pick domain of your own or we can we
                        deploy it on site like Netlify, evenetually add netlifyCMS for even more user-friendly expirience.
                    </p>
                </li>
    
            </ul> -->