<footer class="container flex flex-col items-center ">
    <div class="flex gap-5 font-light">
        <a href="/">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="/contact">CONTACT</a>

    </div>
    <div class="text-gray-600 text-sm my-5 font-light tracking-wider">© 2021 Franciszek Otrębski Dev. All rights reserved.</div>
</footer>