<style>
    .custom-shape-divider-top-1632925204 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1632925204 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 223px;
}

.custom-shape-divider-top-1632925204 .shape-fill {
    fill: #ECE6E6;
}
</style>
<div class="relative overflow-hidden mt-auto">
    <div class="custom-shape-divider-top-1632925204">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <rect x="1200" height="3.6"></rect>
            <rect height="3.6"></rect>
            <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
        </svg>
    </div>
    <footer class=" bg-black flex flex-col items-center text-main pt-16 text-sm md:text-base tracking-wide">
        <div class="flex gap-5 font-light z-10">
            <a href="/">HOME</a>
            <a href="#about">ABOUT</a>
            <a href="/contact">CONTACT</a>

        </div>
        <div class="text-gray-300 text-xs md:text-sm my-5 font-light tracking-wider">© 2021 Franciszek Otrębski Dev. All rights
            reserved.</div>
    </footer>
</div>
