<style>
    [x-cloak] {
        display: none !important
    }
</style>
<div class="flex container p-8 md:h-[300px] xl:h-[484px] md:mt-40   justify-center items-center relative">
    <div class=" w-[85%] h-[70%] uppercase " x-data="{ scrollTop: true, scrollTop2: true, scrollTop3: true }">
        <div class="hidden md:inline">
            <h2 class=" text-center font-semibold tracking-wide md:text-sm md:mb-4 xl:mb-8 mt-2 lg:ml-1 md:ml-20  md:tracking-wider lg:text-base "
                id="about"><a href="#create"> I'm Frank</a></h2>
            <h1 class=" md:text-6xl lg:text-7xl xl:text-8xl font-thin tracking-wide text-center" id="create">I
                create
                websites</h1>
        </div>
        <div class="flex flex-col md:hidden mt-[22%]">
            <h3 class="uppercase text-xs font-bold  inline-block pt-2" id="about_m">I'm Frank</h3>
            <div class="text-[2.8rem]  uppercase font-thin mt-3 ">
                <h1 class="">i create </h1>
                <h1 class="ml-5">websites</h1>
            </div>
        </div>
        <div class="md:ml-52 lg:ml-72 xl:ml-40 mt-5 flex flex-col " x-cloak>
            <div class="space-y-2">
                <div>
                    <h3 class=" ml-10 md:ml-4 lg:ml-5 xl:ml-12 md:text-xl lg:text-xl xl:text-3xl font-light tracking-wide leading-relaxed lowercase"
                        x-show="!scrollTop" @scroll.window="scrollTop = (window.pageYOffset > 1) ? false : true"
                        x-transition:enter="transition ease-in-out duration-700"
                        x-transition:enter-start="opacity-0 transform translate-y-[-85%]"
                        x-transition:enter-end="opacity-100 transform translate-y-0"
                        x-transition:leave="transition ease-out duration-500"
                        x-transition:leave-start="opacity-100 transform translate-y-0"
                        x-transition:leave-end="opacity-0 transform -translate-y-1/2">modern</h3>
                </div>
                <div>
                    <h3 class=" ml-16 md:ml-24 lg:ml-28 xl:ml-40 md:text-xl lg:text-xl xl:text-3xl font-light tracking-wide leading-relaxed lowercase "
                        x-show="!scrollTop2"
                        @scroll.window="scrollTop2 = (window.pageYOffset > scroll_values[0]) ? false : true"
                        x-transition:enter="transition ease-in-out duration-700"
                        x-transition:enter-start="opacity-0 transform translate-y-[-85%]"
                        x-transition:enter-end="opacity-100 transform translate-y-0"
                        x-transition:leave="transition ease-out duration-500"
                        x-transition:leave-start="opacity-100 transform translate-y-0"
                        x-transition:leave-end="opacity-0 transform -translate-y-1/2">simple</h3>
                </div>
                <div>
                    <h3 class="ml-20 md:ml-44 lg:ml-48 xl:ml-[16.5rem] md:text-xl lg:text-xl xl:text-3xl font-light tracking-wide leading-relaxed lowercase "
                        x-show="!scrollTop3"
                        @scroll.window="scrollTop3 = (window.pageYOffset > scroll_values[1]) ? false : true"
                        x-transition:enter="transition ease-in-out duration-700"
                        x-transition:enter-start="opacity-0 transform translate-y-[-85%]"
                        x-transition:enter-end="opacity-100 transform translate-y-0"
                        x-transition:leave="transition ease-out duration-500"
                        x-transition:leave-start="opacity-100 transform translate-y-0"
                        x-transition:leave-end="opacity-0 transform -translate-y-1/2">responsive</h3>
                </div>
            </div>
            <div class=" pt-4 lg:pt-0 pb-4 leading-7 tracking-wide text-base lg:text-lg 2xl:text-xl md:px-4 lg:pl-8 xl:pl-10 xl:pr-4 lowercase mt-4 md:ml-64 lg:ml-72 xl:ml-96 md:w-[60%] xl:mt-5"
                x-show="!scrollTop3"
                @scroll.window="scrollTop3 = (window.pageYOffset > scroll_values[1]) ? false : true"
                x-transition:enter="transition ease-in-out duration-1000"
                x-transition:enter-start="opacity-0 transform translate-y-1/4"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-out duration-500"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform translate-y-1/2">
                <p class="normal-case"> If you need a webiste that:
                    <ul class="dashed font-light normal-case space-y-2">
                        <li class="mt-2">reflects the image and
                            style of your brand</li>
                        <li>is customly desgined to suit all your
                            needs</li>
                        <li>looks
                            perfect on any device</li>
                        <li>is fully SEO friendly...</li>
                    </ul>
                </p>


                <div
                    class="text-center mt-8  bg-black md:bg-main  md:text-gray-900 text-[#ece6e6]   md:border-gray-900 md:border-2 md:inline-block lg:text-lg 2xl:text-2xl px-4 py-1 md:hover:text-[#ece6e6] md:hover:bg-gray-900 uppercase tracking-widest font-light ">
                    <a href="/contact">HIRE ME</a>
                </div>

            </div>
        </div>
    </div>



</div>
<div class="md:hidden absolute bottom-3 right-6" x-data="{isScrolled: false}" >
    <a href="#about_m"  style="-webkit-tap-highlight-color: transparent">
        <svg class="w-7 text-gray-900 " fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" @scroll.window="isScrolled= window.pageYOffset > 25 ? true : false" x-show="!isScrolled">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7">
            </path>
        </svg>
    </a>
</div>

