<nav>
    <div class="flex justify-between md:mt-8 md:mx-12 lg:mt-10 lg:mx-16">
        <div class="">
            <a href="#" class="md:text-2xl  lg:text-3xl tracking-widest font-semibold">FR.OTRE</a>
        </div>
        <div class="flex gap-5 md:text-base lg:text-lg xl:text-xl">
            <button class="btn_nav"><a href="/home" id="anim">WORK</a></button>
            <button class="btn_nav"><a href="#about" id="anim">ABOUT</a></button>
            <button class="btn_nav"><a href="/home" id="anim">CONTACT</a></button>
        </div>
    </div>  
</nav>