<nav>
    <div class="flex justify-between mt-10 mx-16">
        <div class="">
            <a href="#" class="text-3xl tracking-widest font-semibold">FR.OTRE</a>
        </div>
        <div class="flex gap-5 text-lg">
            <button class="btn_nav"><a href="/home" id="anim">HOME</a></button>
            <button class="btn_nav"><a href="/home" id="anim">WORK</a></button>
            <button class="btn_nav"><a href="/home" id="anim">HIRE ME</a></button>
        </div>
    </div>  
</nav>