---
layout: layouts/wrapper
---
<div class="w-1/2   mx-auto mt-20"> 
    <h1 class="mb-7 ml-1 font-semibold text-xl">{{ description }}</h1>
    <div class="mx-2">
        {{ content | safe }}
    </div>
</div>