---
title: Frank Web Development
description: Frank Web Developer simple, responsive and fast websites from scratch
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %}
    <title>{{ title }}</title>

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css?v={% version %}" />

</head>

<body class="bg-main  text-gray-900 font-custom antialiased    flex flex-col ">
    <div class="min-h-screen">
        {% include components/nav %}
        <div class=" ">
            {% block content %}
            {{ content | safe }}
            {% endblock %}
        </div>
    </div>
    {% include components/footer %}

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        let scroll_values; //scroll values for  delay on animations
        let is_mobile = 1; // 1 > desktop 0 > mobile 
        if (window.innerWidth > 640) {
            scroll_values = [101, 201]
            is_mobile = 0;
            console.log(is_mobile);
        } else {
            scroll_values = [50, 100]
            console.log(is_mobile);
        }
        let is_scrolled = window.pageYOffset > 5 ? true : false;
    </script>   
</body>

</html>