---
title: FR.OTRE
description: Frank Otrębski Web Developer
layout: layouts/wrapper.liquid
---

{% include components/nav %}
<div class="container">
    {% include components/hero %}
</div class="">
<!-- <div class="h-screen text-6xl flex justify-center mt-32">UGBUGA VIBE

    <img src="/assets/img/me.jpg" alt="" class="h-44 rounded-full"> -->
    {% include components/about %}
    
</div>

