---
title: FR.OTRE
description: Frank Otrębski Web Developer
layout: layouts/wrapper.liquid
---

{% include components/nav %}
<div class="container">
    {% include components/hero %}
</div>
<div class="h-screen text-6xl flex justify-center mt-32">UGBUGA VIBE

    <img src="/imgs/me.jpg" alt="" class="h-44 rounded-full">
</div>

